{{ $isSynology := false -}}
{{ if stat "/etc/VERSION" -}}
{{   $osName := (include "/etc/VERSION" | regexFind "os_name=.*" | trimPrefix "os_name=\"" | trimSuffix "\"") -}}
{{   if eq $osName "DSM" -}}
{{     $isSynology = true -}}
{{   end -}}
{{ end -}}

{{ $isServer := false -}}
{{ if $isSynology -}}
{{   $isServer = true -}}
{{ else -}}
{{   $isServer = promptBoolOnce . "isServer" "Is this machine a server" false -}}
{{ end -}}

{{ if $isSynology -}}
{{   $scriptTempDir := print .chezmoi.destDir "/.tmp" -}}
{{   exec "mkdir" "-p" $scriptTempDir -}}
scriptTempDir = {{ .chezmoi.destDir | quote }}
{{ end }}

[data]
isServer = {{ $isServer }}
isSynology = {{ $isSynology }}

[data.completions]
zsh = "{{ .chezmoi.destDir }}/.oh-my-zsh/custom/completions"
