{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

echo "Installing common base packages..."
{{   if .isSynology }}

{{   else if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt install -y zsh
{{   end -}}
echo "Installed common base packages."
echo

{{   if not .isServer -}}
echo "Installing client base packages..."
{{     if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt install -y pipx
{{     end -}}
echo "Installed client base packages."
{{   else -}}
echo "Skipped installing client base packages."
{{   end -}}
echo

{{ else if eq .chezmoi.os "android" -}}
#!/bin/sh

echo "Installing base packages..."
pkg install -y python python-pip zsh
echo "Installed base packages."
echo

{{ end -}}
