{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

{{   if lookPath "yt-dlp" -}}
{{     $version := (output "yt-dlp" "--version" | trim) -}}
echo "Installing shell completion for yt-dlp v{{ $version }}..." 
TEMP_DIR=$(mktemp -d)
curl -fS#L -o $TEMP_DIR/yt-dlp.tar.gz {{ gitHubReleaseAssetURL "yt-dlp/yt-dlp" $version "yt-dlp.tar.gz" | quote }}
tar -zxf $TEMP_DIR/yt-dlp.tar.gz --directory {{ .completions.zsh | quote }} --strip-components=3 yt-dlp/completions/zsh/_yt-dlp
rm -r $TEMP_DIR
{{   else -}}
rm -f "{{ .completions.zsh }}/_yt-dlp"
{{   end -}}

{{ end -}}
