{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

{{   if lookPath "docker" -}}
{{     $script := print .chezmoi.sourceDir "/.docker-version.sh" -}}
echo "Installing shell completion for Docker v{{ output "sh" $script | trim }}..."
docker completion zsh > "{{ .completions.zsh }}/_docker"
{{   else -}}
rm -f "{{ .completions.zsh }}/_docker"
{{   end -}}

{{ end -}}
